<!-- <div class="lik">
    <button (click)="likesPage()" id="heart" style="color: red;"><i class="fa-solid fa-heart"></i></button>
    <div id="licknb">
        <h2>{{nbLikes}}</h2>
    </div>
</div> -->

<div class="film">
    <div>
        <img [src]="movie.img" alt="image">
    </div>
    <div class="droite">
        <h2>{{movie.nam | uppercase}}</h2>
        <p>{{movie.description}}</p>
        <p class="p"><button (click)="coeur()" [style.color]="color"><i class="fa-solid fa-heart"></i></button>{{movie.likes}} likes</p>
    </div>
    <p>{{movie.price | currency: 'EUR'}}</p> <!--- ligne a ameliore pour lafichage --->
    <span (click)="remove()" [ngStyle]="{'font-size' : '2em'}"><i class="fa-solid fa-x"></i></span>
</div>
