body{
    background-color: gray;
    display: flex;
    justify-content: center;
}

.cal{
    display: flex;
    align-items: center;
}

button{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 10px;
}
input{
    margin: 5px;
}
#resultat{
    text-align: center;
}